/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:opsz,wght@17..18,400..700&display=block');
@import "tailwindcss";

@theme {
    --font-sans: var(--font-google); /* This overrides Tailwind's default 'font-sans' */
    --font-google: 'Google Sans', sans-serif;
    --color-green: #198754;
    --color-light-green: #d4edda;
    --color-font-color: #545454;
    --color-bg: #F6F8FA;
}


